body {
    text-align: center;
    background-color: #FFEFD3;
    width: 70%;
    height: 100%;
    margin: 0px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#363537;
    padding:0
}
h1,h2,h3 {
    line-height: 1.2
}

div {
    width: 300px;
    border: 10px solid #7E846Baa;
    padding: 50px;
    margin: 0 auto;
}
